.prisePromoBox {
  width: 350px;
}

.box {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 100%;
}

.comment {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid var(--accentCOlor);
  color: var(--accentCOlor);
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  resize: none;
}

.comment::placeholder {
  font-size: 16px;
  line-height: 19px;
  color: var(--accentCOlor);
}

.comment::-webkit-scrollbar {
  width: 7px;
}

.comment::-webkit-scrollbar-thumb {
  background: var(--accentCOlor);
  border-radius: 5px;
}

.comment::-webkit-scrollbar-thumb:hover {
  background: var(--accentCOlor);
}

.input {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  padding: 20px;
  padding-right: 50px;
  border-radius: 12px;
  border: 1px solid var(--accentCOlor);
  color: var(--accentCOlor);
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.input::placeholder {
  color: var(--accentCOlor);
}

.inputAdd {
  outline: none;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 20px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: var(--accentCOlor);
  cursor: pointer;
}

.error {
  color: var(--errorColor);
}

.inputAdd:hover,
.inputAdd:focus {
  color: var(--hoverColor);
}

.discountBox {
  border-radius: 12px;
  border: 1px solid var(--accentCOlor);
  padding: 20px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loadPromo {
  position: absolute;
  top: 45%;
  right: 56px;
  transform: translateY(-45%);
  width: 30px;
  display: flex;
  align-items: center;
}
