.section {
  width: 100%;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  padding: 0px 150px;
  margin: 0 auto;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.img {
  max-width: 496px;
  max-height: 470px;
  margin-right: 80px;
}

.title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--accentCOlor);
}

.vendor {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--accentCOlor);
}

.id {
  margin-left: 10px;
}

.description {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--accentCOlor);
}

.price {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.buttonBox{
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.btn{
  color: var(--accentCOlor);
  background-color: transparent;
  outline: none;
  border: none;
  padding: 5px 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.quantity{
  color: var(--accentCOlor);
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
}

.btnBuy {
  padding: 14px 54px;
  outline: none;
  border: 1px solid var(--backgroundButton);
  border-radius: 12px;
  background-color: var(--backgroundButton);
  color: var(--accentCOlor);
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.btnBuy:hover {
  color: var(--accentCOlor);
  border: 1px solid var(--accentCOlor);
}