.section {
  padding: 100px 0px 50px;
  width: 100%;
  box-sizing: border-box;
}

.container {
  display: flex;
  max-width: 1440px;
  padding: 0px 150px;
  margin: 0 auto;
  box-sizing: border-box;
}

.workTime {
  padding: 0px 10px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--accentBgCOlor);
}
.time {
  margin-bottom: 20px;
}

.map {
  border: 0;
  width: 100%;
  height: 300px;
}
