.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navBox {
  background-color: var(--accentBgCOlor);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  padding: 0px 150px;
  box-sizing: border-box;
  margin: 0 auto;
}

.boxList {
  display: flex;
  align-items: center;
}

.listItem {
  margin-right: 40px;
}

.listItem:last-child {
  margin-right: 0px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 10px;
  color: var(--accentCOlor);
  padding: 25px 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.link:hover .call *,
.link:focus .call *,
.link:hover .basket *,
.link:focus .basket *,
.link:hover .favorite *,
.link:focus .favorite *,
.link:hover .person *,
.link:focus .person * {
  color: var(--hoverColor);
  fill: var(--hoverColor);
}

.call *,
.person * {
  width: 16px;
  height: 16px;
  fill: var(--accentCOlor);
}

.basket * {
  width: 16px;
  height: 20px;
  fill: var(--accentCOlor);
}

.favorite * {
  width: 20px;
  height: 18px;
  fill: var(--accentCOlor);
}

.navBox2 {
  padding: 30px 0px;
}

.catalog {
  padding: 14px 22px;
  background-color: var(--backgroundButton);
  border-radius: 15px;
  font-weight: 500;
  outline: none;
}

.boxCall {
  display: flex;
  align-items: center;
}

.boxSearch {
  display: flex;
  position: relative;
}

.input {
  display: block;
  margin: 0;
  padding: 7px 15px;
  margin-left: 25px;
  min-width: 320px;
  max-width: 580px;
  background-clip: padding-box;
  border: 2px solid var(--accentCOlor);
  outline: none;
  border-radius: 15px;
  font-size: 16px;
  line-height: 19px;
  color: var(--accentCOlor);
}

input:hover,
input:focus {
  border: 2px solid yellow;
}

.textField {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  border: 2px solid var(--accentCOlor);
  background-color: var(--backgroundButton);
  color: currentColor;
  transition: background-color 0.15s ease-in-out;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}

.textField:hover {
  background-color: #e0e0e0;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--accentCOlor);
}
