.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: springgreen;
}

.navBox {
  background-color: #8DC8FF;
  padding: 0 0 30px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  padding: 0px 150px;
  box-sizing: border-box;
  margin: 0 auto;
}

.boxList {
  display: flex;
  align-items: center;
}
.logo {
  padding: 0 50px 0 0;
}

.listItem {
  margin-right: 40px;
}

.listItem:last-child {
  margin-right: 0px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 10px;
  color: black;
  font-family: 'Inter', sans-serif;
  padding: 25px 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  cursor: pointer;
}

.link:hover .call *,
.link:focus .call *,
.link:hover .basket *,
.link:focus .basket *,
.link:hover .favorite *,
.link:focus .favorite *,
.link:hover .person *,
.link:focus .person * {
  color: var(--hoverColor);
  fill: var(--hoverColor);
}

.rightsideIcons {
  display: flex;
  gap: 40px;
  align-items: center;
}

.boxSearch {
  display: flex;
}


