.container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.box {
  position: relative;
  max-width: 320px;
  width: 100%;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnBox {
  width: 330px;
  height: 44px;
  box-sizing: border-box;
  display: flex;
  padding: 0 8px;
  align-items: center;
  gap: 10px;
  border: solid 1px var(--backgroundButton);
  border-radius: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding-top: 32px;
}
.label {
  color: var(--hoverColor);
  margin-bottom: -20px;
  font-size: 14px;
}
.input {
  width: 330px;
  height: 44px;
  box-sizing: border-box;
  border: solid 1px var(--backgroundButton);
  border-radius: 12px;
  outline: none;
  padding: 20px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.color {
  width: 160px;
  height: 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px var(--mainBgColor);
  border-radius: 12px;
  background: var(--mainBgColor);
  color: var(--hoverColor);
  font-size: 16px;
}
.inputPassword {
  border: none;
}
.password_flex {
  width: 330px;
  display: flex;
  align-items: center;
  padding-right: 10px;
  box-sizing: border-box;
  border: solid 1px var(--backgroundButton);
  border-radius: 12px;
}

.password_flex svg:hover {
  cursor: pointer;
}
.errorMessage {
  color: red;
  margin-bottom: -20px;
}
.forgotPassword {
  margin-top: -20px;
  color: #1877f2;
  font-size: 12px;
}
.forgotPassword:hover {
  cursor: pointer;
}
.dog1 {
  background-image: url('../../assets/husky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 548px;
  height: 568px;
  border-radius: 12px;
}
.loader {
  width: 500px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  outline: none;
  border: solid 1px var(--backgroundButton);
  border-radius: 12px;
  line-height: 44px;
  box-sizing: border-box;
  text-align: center;
  background: var(--backgroundButton);
  color: var(--mainBgColor);
  margin-top: 10px;
  font-size: 16px;
}
.signSocialMediaFlex {
  display: flex;
  gap: 10px;
  margin-top: 32px;
}
.continueWithMedia {
  display: flex;
  justify-content: center;
  align-items: center;
}
.continueWithMedia p {
  margin-top: 30px;
  margin-bottom: -30px;
  color: var(--hoverColor);
  font-size: 13px;
}
.googleFacebook {
  width: 160px;
  height: 44px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px var(--backgroundButton);
  border-radius: 12px;
}
.googleFacebook:hover {
  cursor: pointer;
}
.btnActive {
  background: var(--backgroundButton);
  color: var(--mainBgColor);
}
