.cardWrapper {
  box-sizing: border-box;
  height: 370px;
  background-color: transparent;
  min-width: 265px;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid var(--accentBgCOlor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: transform 0.3s ease;
}

.cardWrapper:hover {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 13px;
  width: 100%;
}

.cross * {
  width: 20px;
  height: 20px;
  fill: var(--accentCOlor);
}

.heart * {
  width: 24px;
  height: 22px;
  fill: var(--accentCOlor);
}

.spinerBox {
  position: relative;
  width: 24px;
  height: 24px;
  color: var(--accentCOlor);
}

.src {
  width: auto;
  height: 180px;
  display: block;
  margin-bottom: 10px;
}

.descrBox {
  width: 100%;
}

.title {
  height: 34px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--accentCOlor);
  margin-bottom: 5px;
}

.descriptionCard {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--accentCOlor);
}

.buy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 13px;
}

.price {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: var(--accentCOlor);
}

.svg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.basket * {
  width: 13px;
  height: 16px;
  fill: var(--accentCOlor);
}

.svg:hover .basket *,
.svg:hover .heart *,
.svg:hover .cross * {
  fill: var(--hoverColor);
}
