:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;

  --mainBgColor: rgb(255, 255, 255);
  --accentBgCOlor: #d9d9d9;
  --accentCOlor: #d2691e;
  --hoverColor: #000;
  --backgroundButton: #777777;
  color: var(--accentCOlor);
  background-color: var(--mainBgColor);
}

body {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.slick-dots {
  bottom: -50px;
}

.slick-dots li {
  width: 30px;
}

.slick-dots li button:before {
  background-color: var(--accentCOlor);
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slick-dots li.slick-active button:before {
  background-color: var(--accentCOlor);
  width: 32px;
  border-radius: 12px;
}
