.section {
  padding: 40px 0px;
  width: 100%;
  background-color: var(--accentBgCOlor);
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  padding: 0px 150px;
  margin: 0 auto;
  box-sizing: border-box;
}
.section .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px;
}
.slider {
  margin-bottom: 55px;
}
.slider_box {
  max-width: 1440px;
}
.review_item {
  width: 360px;
  border-radius: 12px;
  background-color: var(--mainBgColor);
}
.review_item_content {
  padding: 30px;
  background: url('../../../../assets/star-grey.svg'),
    url('../../../../assets/star-grey.svg'),
    url('../../../../assets/star-grey.svg'),
    url('../../../../assets/star-grey.svg'),
    url('../../../../assets/star-grey.svg');
  background-repeat: no-repeat;
  background-position: 20px 20px, 50px 20px, 80px 20px, 110px 20px, 140px 20px;
  background-size: 22px;
}
.review_text {
  padding-top: 30px;
  color: var(--hoverColor);
}
.img_name {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.review_img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.review_name {
  color: var(--hoverColor);
}
