.section {
  padding-bottom: 110px;
  width: 100%;
}

.container {
  padding: 0px 150px;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

.sliderBox {
  max-width: 1440px;
}

.spiner {
  width: 200px;
  margin: 0 auto;
}

.list {
  display: flex;
}

.btn {
  margin-right: 30px;
  outline: none;
  background-color: transparent;
  border: none;
  color: var(--accentCOlor);
  font-weight: 400px;
  line-height: 19px;
  font-size: 16px;
  cursor: pointer;
}

.active {
  font-weight: 600;
}

.btn:last-child {
  margin-right: 0px;
}

.margin {
  margin-right: 15px;
  margin-left: 15px;
}

.cardWrapper {
  box-sizing: border-box;
  height: 350px;
  background-color: transparent;
  max-width: 265px;
  width: 100%;
  padding: 20px 30px;
  border-radius: 12px;
  border: 1px solid var(--accentBgCOlor);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.cardWrapper:hover {
  transform: scale(1.1);
  height: auto;
}

.cardWrapper:hover .btnBuy {
  display: block;
}

.src {
  width: auto;
  height: 150px;
  display: block;
  margin-bottom: 20px;
}

.descrBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  height: 34px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--accentCOlor);
  margin-bottom: 10px;
  text-align: center;
}

.descriptionCard {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--accentCOlor);
  text-align: center;
  margin-bottom: 20px;
}

.price {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--accentCOlor);
}

.btnBuy {
  display: none;
  margin-top: 20px;
  padding: 10px 16px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--backgroundButton);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.btnBuy:hover {
  color: var(--accentCOlor);
  border: 1px solid var(--accentCOlor);
}
