.container {
  width: 100%;
}

.buttonFilter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 25px;
}

.listItem {
  max-width: 220px;
}

.margin {
  flex: 0 0 calc(33.333% - 25px);
}

.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.pagination {
  display: flex;
  align-items: center;
}

.pageNumber {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-right: 10px;
  padding: 3px 8px;
  cursor: pointer;
}

.load {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  color: var(--hoverColor);
  border: 1px solid var(--accentCOlor);
  color: var(--accentCOlor);
  border-radius: 50%;
}

.pageNumber:hover,
.pageNumber:focus {
  font-weight: 700;
}

.arrow * {
  fill: var(--accentCOlor);
  margin: 0px;
}

.arrow *:hover {
  fill: var(--hoverColor);
}
